<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EZMed Test Cases">
    <listeners>
        <listener class-name="za.co.ezmed.qa.utils.GenerateReport"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/laxmis/IdeaProjects/EZmed">
        <parameter name="Environment" value="https://ezmed.spesstage.co.za/"></parameter>
        <parameter name="UserName" value="yvetter@spesnet.co.za"></parameter>
        <parameter name="Password" value="Trevorlr!1"></parameter>
        <parameter name="PID" value="860213059086"></parameter>
        <parameter name="CTdate" value="28-Feb-2022"></parameter>
        <parameter name="PatientFunder" value="Rand Mutual Assurance"></parameter>
        <parameter name="IncidentDate" value="01/02/2022"></parameter>
        <parameter name="FType" value="Medical Aid"></parameter>
        <parameter name="MSDate" value="01/05/2020"></parameter>
        <parameter name="MEDate" value="20/02/2022"></parameter>
        <parameter name="IODTDate" value="28/02/2022"></parameter>
        <parameter name="MATDate" value="16/02/2022"></parameter>
        <parameter name="ClaimStatus" value="Submitted To Funder"></parameter>
        <parameter name="Action" value="Clone"></parameter>
        <parameter name="PhysioIns" value="Physio"></parameter>
        <parameter name="OT" value="Curae Occupational Therapy"></parameter>

        <classes>
            <class name="za.ca.ezmed.qa.UnitTests">
                <methods>
                    <include name="PatientRegistration"/>
                    <include name="MedicalFunder"/>
                    <include name="IODFunder"/>
                    <exclude name="ProvidersRegistration"/>
                    <include name="Appointment"/>
                    <include name="Authorisation"/>
                    <include name="CreateIODClaim"/>
                    <include name="PhysioCreateMedicalAidClaim"/>
                    <include name="Notes"/>
                    <include name="NotesVersion"/>
                    <exclude name="Reports"/>
                    <exclude name="AddPayment"/>
                    <include name="CloneClaim"/>
                    <exclude name="CreatePartialPayment"/>
                    <include name="CreateFullPayment"/>
                    <include name="DeletePatient"/>
                    <exclude name="DeleteProvider"/>
                    <include name="BatchProcess"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>